<div #map class="map-panel" [style.height]="height" [style.width]="width">
    <div name="drawToolContainer" class="draw-tool-container">
        <button md-button (click)="deleteFeatureActivated()"><i class="fa fa-times"></i>Delete</button>        
        <button md-button [mdMenuTriggerFor]="drawMenu"><i class="fa fa-pencil-square-o"></i>Draw</button>
        <md-menu #drawMenu="mdMenu" class="menu-container">
            <button md-menu-item (click)="drawFeatureClicked('Polygon')">Polygon</button>
            <button md-menu-item (click)="drawFeatureClicked('Circle')">Circle</button>
            <button md-menu-item (click)="drawFeatureClicked('LineString')">Line</button>
            <button md-menu-item (click)="drawFeatureClicked('Point')">Point</button>
        </md-menu>
    </div>
</div>